﻿@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@model InspectionItemDetails
    
<tr>
    <td>@Model.Name</td>
    <td>@Model.Description</td>
    <td>@Model.Notes</td>
    <td>@Model.resultDescription</td>

    @if (User.IsInRole("admin") || User.IsInRole("owner"))
    {
        <td>

            <div class="editRow">
                <button onclick="editRow(this)" class="btn btn-link" data-toggle="tooltip" data-placement="bottom" title="Edit the Inspected Item">
                    <i class="fas fa-edit"></i>
                </button>
                <div class="modal">
                    <div class="modal-content">
                        <div class="modal-title">
                            Edit Item
                            <span class="close" onclick="closeEdit(this)">&times;</span>
                        </div>
                        <partial name="_UpsertInspectionItem" model="Model" />
                    </div>
                </div>
            </div>

            <div class="deleteRow">
                <button onclick="deleteRow(this)" class="btn btn-link" data-toggle="tooltip" data-placement="bottom" title="Delete the Inspected Item">
                    <i class="far fa-trash-alt"></i>
                </button>
                <div class="modal">
                    <div class="modal-content">
                        <div class="modal-title">
                            Delete Item
                            <span class="close" onclick="closeEdit(this)">&times;</span>
                        </div>
                        <form id="deleteUserForm" method="post" action="/Inspection/DeleteItem">

                            <input class="col-6" type="hidden" id="txtItemID" name="ItemID" asp-for="ItemID" />
                            <input class="col-6" type="hidden" id="txtInspectionID" name="InspectionID" asp-for="InspectionID" />
                            <p>Are you sure you want to delete @Model.Name?</p>

                            <div class="float-right">
                                <button type="button" class="btn btn-secondary text-white" onclick="closeEdit(this)" data-dismiss="modal">Cancel</button>
                                <button type="submit" class="btn btn-success text-white">Delete</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>

        </td>
    }
    </tr>
