﻿@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@model InspectionDetails
    
    <tr>
        <td>@Model.PropertyName</td>
        <td>@Model.Details</td>
        <td>@Model.InspectionDate</td>
        <td>@Model.InspectionStatus</td>
        <td>

            <form id="deleteUserForm" method="post" action="/Inspection/InspectionItems">
                <input class="col-6" type="hidden" id="txtInspectionID" name="InspectionID" asp-for="InspectionID" />
                <button type="submit" class="btn btn-link" data-toggle="tooltip" data-placement="bottom" title="View Inspected Items">
                    <i class="fas fa-search-plus"></i>
                </button>
            </form>

            @if (User.IsInRole("admin") || User.IsInRole("owner"))
            {

                <div class="editRow">
                    <button onclick="editRow(this)" class="btn btn-link" data-toggle="tooltip" data-placement="bottom" title="Edit this Inspection">
                        <i class="fas fa-edit"></i>
                    </button>
                    <div class="modal">
                        <div class="modal-content">
                            <div class="modal-title">
                                Edit Insection
                                <span class="close" onclick="closeEdit(this)">&times;</span>
                            </div>
                            <partial name="_UpsertInspection" model="Model" />
                        </div>
                    </div>
                </div>

                <div class="deleteRow">
                    <button onclick="deleteRow(this)" class="btn btn-link" data-toggle="tooltip" data-placement="bottom" title="Delete this Inspection">
                        <i class="far fa-trash-alt"></i>
                    </button>
                    <div class="modal">
                        <div class="modal-content">
                            <div class="modal-title">
                                Delete Insection
                                <span class="close" onclick="closeEdit(this)">&times;</span>
                            </div>
                            <form id="deleteUserForm" method="post" action="/Inspection/Delete">

                                <input class="col-6" type="hidden" id="txtInspectionID" name="InspectionID" asp-for="InspectionID" />
                                <p>Are you sure you want to delete @Model.Details?</p>

                                <div class="float-right">
                                    <button type="button" class="btn btn-secondary text-white" onclick="closeEdit(this)" data-dismiss="modal">Cancel</button>
                                    <button type="submit" class="btn btn-success text-white">Delete</button>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            }
            </td>
    </tr>
