﻿@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@model InspectionDetails


<form id="upsertInspectionForm" method="post" action="/Inspection/Upsert" class="form-group">

    <input class="col-6" type="hidden" id="txtInspectionID" name="InspectionID" asp-for="InspectionID" />

    <div class="form-row form-group">
        <label class="col-4" for="ddlProperties">Property Name</label>

        <select class="col-6 form-control" id="ddlProperties" asp-for="PropertyID" required>
            @foreach (Property property in ViewBag.properties)
            {
                <option value="@property.PropertyID">@property.PropertyName</option>
            }
        </select>
    </div>

    <div class="form-row form-group">
        <label class="col-4" for="txtDetails">Details</label>
        <input class="col-6 form-control" type="text" id="txtDetails" name="Details" asp-for="Details" required/>
    </div>

    <div class="form-row form-group">
        <label class="col-4" for="txtInspectionDate">Inspection Date</label>
        <input class="col-6 form-control" type="date" id="txtInspectionDate" name="InspectionDate" asp-for="InspectionDate" required />
    </div>

    <div class="form-row form-group">
        <label class="col-4" for="txtInspectionStatus">Inspection Status</label>
        <div class="col">
            <input type="checkbox" id="txtInspectionStatus" name="InspectionStatus" asp-for="InspectionStatus"/>
            <label for="txtInspectionStatus">Resolved</label>
        </div>
    </div>


    <div class="form-row float-right"> 
        <button type="button" class="btn btn-secondary text-white" onclick="closeEdit(this)" data-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn-success text-white" style="margin-left:5px;">Save</button>
    </div>
</form>
        
