﻿@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@model InspectionItemDetails


<form id="upsertInspectionForm" method="post" action="/Inspection/UpsertItem" class="form-group">

    <input class="col-6" type="hidden" id="txtItemID" name="ItemID" asp-for="ItemID" />
    <input class="col-6" type="hidden" id="txtInspectionID" name="InspectionID" asp-for="InspectionID" />

    <div class="form-row form-group">
        <label class="col-4" for="txtName">Name</label>
        <input class="col-6 form-control" type="text" id="txtName" name="Name" asp-for="Name" required/>
    </div>

    <div class="form-row form-group">
        <label class="col-4" for="txtDescription">Desciption</label>
        <input class="col-6 form-control" type="text" id="txtDescription" name="Description" asp-for="Description" required/>
    </div>

    <div class="form-row form-group">
        <label class="col-4" for="txtNotes">Notes</label>
        <input class="col-6 form-control" type="text" id="txtNotes" name="Notes" asp-for="Notes"/>
    </div>

    <div class="form-row form-group">
        <label class="col-4" for="ddlResultID">Result</label>

        <select class="col-6 form-control" id="ddlResultID" asp-for="ResultID" required>
            @foreach (InspectionResult result in ViewBag.inspectionResult)
            {
                <option value="@result.ResultID">@result.Description</option>
            }
        </select>
    </div>

    <div class="form-row float-right">
        <button type="button" class="btn btn-secondary text-white" onclick="closeEdit(this)" data-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn-success text-white" style="margin-left:5px;">Save</button>
    </div>
</form>
        
