﻿@{
    ViewData["Title"] = "Inspection Page";
}
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@model IEnumerable<InspectionDetails>

<h4>Inspection Details</h4>
@if (User.IsInRole("owner"))
{
    @if (Model.Count() > 0)
    {
        @using (Html.BeginForm("Export", "Inspection", FormMethod.Post))
        {
            <input type="hidden" name="GridHtml" />
            <input type="submit" id="btnSubmit" value="Export" title="Export Data to PDF Report" />
        }
    }
    else if (Model.Count() <= 0)
    {
        {
            <input type="hidden" name="GridHtml" />
            <input type="submit" id="btnSubmit" value="Export" disabled title="No Data to export to PDF Report" />
        }
    }
}
else if (User.IsInRole("admin"))
{
    @if (Model.Count() > 0)
    {
        @using (Html.BeginForm("Export", "Inspection", FormMethod.Post))
        {
            <input type="hidden" name="GridHtml" />
            <input type="submit" id="btnSubmit" value="Export" title="Export Data to PDF Report" />
        }
    }
    else if (Model.Count() <= 0)
    {
        {
            <input type="hidden" name="GridHtml" />
            <input type="submit" id="btnSubmit" value="Export" disabled title="No Data to export to PDF Report" />
        }
    }
}

@if (User.IsInRole("admin") || User.IsInRole("owner"))
{
    <div class="addRow">
        <button onclick="editRow(this)" class="btn btn-primary btn-sm">Add Inspection</button>
        <div class="modal">
            <div class="modal-content">
                <div class="modal-title">
                    Add Insection
                    <span class="close" onclick="closeEdit(this)">&times;</span>
                </div>
                <partial name="_UpsertInspection" model="new InspectionDetails()" />
            </div>
        </div>
    </div>
}

@if (Model.Count() > 0)
{

    <table style="width:100%" border="1" class="table">
        <thead class="thead-dark">
            <tr>
                <th>Property Name</th>
                <th>Details</th>
                <th>Inspection Date</th>
                <th>Inspection Status</th>
                <th></th>

            </tr>
        </thead>
        <tbody>
            @foreach (InspectionDetails inspection in Model)
            {
                <partial name="_InspectionDetails" model="@inspection" />
            }
        </tbody>
    </table>
    @if (User.IsInRole("owner"))
    {
        <div id="Grid" hidden>
            @Html.Partial("InspectionReportPartialView", Model)
        </div>
    }
    else if(User.IsInRole("admin"))
    {
    <div id="GridAdmin" hidden>
        @Html.Partial("InspectionReportAdmin", Model)
    </div>
    }
}
else
{
    <p>No Data</p>
}


<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
@if (User.IsInRole("owner"))
{
    <script type="text/javascript">
        $(function () {
            $("#btnSubmit").click(function () {
                $("input[name='GridHtml']").val($("#Grid").html());
            });
        });
    </script>
}

@if (User.IsInRole("admin"))
{
    <script type="text/javascript">
        $(function () {
            $("#btnSubmit").click(function () {
                $("input[name='GridHtml']").val($("#GridAdmin").html());
            });
        });
    </script>
}
