﻿@model IEnumerable<InspectionDetails>

<html>
    <head>
        <h3 align="center">Schedule Property Inspections Report of all Properties Belonging to @User.Identity.Name</h3>
    </head>
    <body>
            if (inspection.Active == true)
            {
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>Scheduled Inspections:</p>
                <p>&nbsp;</p>
                <table style="width:100%" border="1" align="center">
                    <tr style="background-color: #262424;border: 1px solid #ccc; color: white;" align="center">
                        <th>Property Name</th>
                        <th>Inspection Date</th>
                        <th>Details</th>
                        <th>Has Taken Place (Yes/No)</th>
                    </tr>
                @foreach (InspectionDetails data in Model)
                 {
                    <tr align="center">
                        <td style="width:120px;border: 1px solid #ccc">@data.PropertyName</td>
                        <td style="width:120px;border: 1px solid #ccc">@data.InspectionDate</td>
                        <td style="width:120px;border: 1px solid #ccc">@data.Details</td>
                    @if (data.InspectionStatus == true)
                    {
                        <td style="width:120px;border: 1px solid #ccc">Yes</td>

                    }
                    else
                    {
                        <td style="width:120px;border: 1px solid #ccc">No</td>
                    }
                </tr>
                    }
                </table>
            }
        

        <div>

        </div>
        <br /><br />
        <p>&nbsp;</p><p>To Whom it may concern,</p><p>&nbsp;</p><p> This is a legitimate report that was supplied by HouseJunkey on @DateTime.Today. Should you have any enquires please don't hesitate to contact us.</p><p>&nbsp;</p><p> Kind Regards,</p><p>HouseJunkey Management.</p>
        <p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>Email: Info@Housejunkey.com</p><p>Tel.: 041 321 3391</p><p>Address: 123 Cape Road,</p><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Newton Park,</p><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Port Elizabeth</p><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;6001</p>

    </body>
</html> 