﻿@{
    ViewData["Title"] = "Inspection Items Page";
}
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@model IEnumerable<InspectionItemDetails>

<h4>Inspection Items</h4>

<form id="deleteUserForm" method="post" action="/Inspection">
    <button type="submit" class="btn-secondary text-white float-left" onclick="closeEdit(this)" data-dismiss="modal" data-toggle="tooltip" data-placement="bottom" title="Return to Inspection Details">
        <i class="fas fa-arrow-left"></i>
    </button>
</form>


@if (User.IsInRole("admin") || User.IsInRole("owner"))
{
    <div class="addRow">
        <button onclick="editRow(this)" class="btn btn-primary btn-sm float-left">Add Item</button>
        <div class="modal">
            <div class="modal-content">
                <div class="modal-title">
                    Add Items
                    <span class="close" onclick="closeEdit(this)">&times;</span>
                </div>
                <partial name="_UpsertInspectionItem" model="new InspectionItemDetails()" />
            </div>
        </div>
    </div>
}

    @if (Model.Count() > 0)
    {

        <table style="width:100%" border="1" class="table">
            <thead class="thead-dark">
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Notes</th>
                    <th>Result</th>
                    @if (User.IsInRole("admin") || User.IsInRole("owner"))
                    {
                        <th></th>
                    }
                    </tr>
            </thead>
            <tbody>
                @foreach (InspectionItemDetails inspectionItem in Model)
                {
                    <partial name="_InspectionItemDetails" model="@inspectionItem" />
                }
            </tbody>
        </table>

    }
    else
    {
        <p>No Data</p>
    }

