﻿@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@model ListingDetails


<form id="upsertUserForm" method="post" action="/Listing/Upsert" class="form-group">

    <input class="col-12" type="hidden" id="txtListID" name="ListID" asp-for="ListID" />

    <div class="form-row form-group">
        <label class="col-4" for="ddlPropertyID">Property Name</label>
        <select class="col-6" id="ddlPropertyID" asp-for="PropertyID" required>
            @foreach (Property property in ViewBag.propertyID)
            {
                <option value="@property.PropertyID">@property.PropertyName</option>
            }
        </select>
    </div>

    <div class="form-row form-group">
        <label class="col-4" for="txtAvailabilityDate">Date Available</label>
        <input class="col-6" type="date" id="txtAvailabilityDate" name="AvailabilityDate" asp-for="AvailabilityDate" required/>
    </div>

    <div class="form-row form-group">
        <label class="col-4" for="txtListingPrice">Price</label>
        <input class="col-6" type="text" id="txtListingPrice" name="ListingPrice" asp-for="ListingPrice" required />
    </div>

    <div class="form-row form-group">
        <label class="col-4" for="ddlListStatusID">Listing Status</label>
        <select class="col-6" id="ddlListStatusID" asp-for="ListingStatusID" required>
            @foreach (ListingStatus listingStatusDescription in ViewBag.listingStatusDescription)
            {
                <option value="@listingStatusDescription.ListingStatusID">@listingStatusDescription.ListingStatusDescription</option>
            }
        </select>
    </div>

    <div class="form-row form-group float-right">
        <button type="button" class="btn btn-secondary text-white" onclick="closeEdit(this)" data-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn-success text-white" style="margin-left:5px;">Save</button>
    </div>

</form>