﻿@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@model ListingDetails


<tr>
    <td>@Model.PropertyName</td>
    <td>@Model.AvailabilityDate</td>
    <td>@Model.ListingPrice</td>
    <td>@Model.ListingStatusDescription</td>
    <td>

        <div class="editRow">
            <button onclick="editRow(this)" class="btn btn-link" data-toggle="tooltip" data-placement="bottom" title="Edit this Listing">
                <i class="fas fa-edit"></i>
            </button>
            <div class="modal">
                <div class="modal-content">
                    <div class="modal-title">
                        Edit Property Listing
                        <span class="close" onclick="closeEdit(this)">&times;</span>
                    </div>
                    <partial name="_listingUpsert" model="Model" />
                </div>
            </div>
        </div>

        <div class="deleteRow">
            <button onclick="deleteRow(this)" class="btn btn-link" data-toggle="tooltip" data-placement="bottom" title="Delete this Listing">
                <i class="far fa-trash-alt"></i>
            </button>
            <div class="modal">
                <div class="modal-content">
                    <div class="modal-title">
                        Delete Property Listing
                        <span class="close" onclick="closeEdit(this)">&times;</span>
                    </div>
                    <form id="deleteUserForm" method="post" action="/Listing/Delete">

                        <input class="col-6" type="hidden" id="txtListID" name="ListID" asp-for="ListID" />
                        <p>Are you sure you want to delete @Model.PropertyName?</p>

                        <div class="float-right">
                            <button type="button" class="btn btn-secondary text-white" onclick="closeEdit(this)" data-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-success text-white">Delete</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>

    </td>
</tr>
