﻿@{
    ViewData["Title"] = "Listing Manager";
}
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@model IEnumerable<ListingDetails>

<h4>Listing Manager</h4>


<div class="addRow">
    <button onclick="editRow(this)" class="btn btn-primary btn-sm">Add Listing</button>
    <div class="modal">
        <div class="modal-content">
            <div class="modal-title">
                Add Property Listing
                <span class="close" onclick="closeEdit(this)">&times;</span>
            </div>
            <partial name="_listingUpsert" model="new ListingDetails()" />
        </div>
    </div>
</div>


@if (Model.Count() > 0)
{
    <table style="width:100%" border="1" class="table">

        <thead class="thead-dark">
            <tr>
                <th>Property Name</th>
                <th>Availability Date </th>
                <th>Listing Price</th>
                <th>Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (ListingDetails listing in Model)
            {
                <partial name="_listingDetails" model="@listing" />
            }
        </tbody>
    </table>

}
else
{
    <p>No Data</p>
}

