﻿@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@model UserDetails


<form id="upsertUserForm" method="post" action="/User/Upsert" class="form-group">

    <input class="col-6" type="hidden" id="txtUserId" name="UserId" asp-for="UserId" />

    @*<label class="col-4" for="txtUserName">User Name</label>
        <input class="col-6" type="text" id="txtUserName" name="UserName" asp-for="UserName" disabled/>

        <label class="col-4" for="txtPhoneNumber">PhoneNumber</label>
        <input class="col-6" type="text" id="txtPhoneNumber" name="PhoneNumber" asp-for="PhoneNumber" disabled/>

        <label class="col-4" for="txtEmail">Email</label>
        <input class="col-6" type="text" id="txtEmail" name="Email" asp-for="Email" disabled/>*@

    
    <div class="form-row form-group">
        <label class="col-4" for="ddlUserRole">Role</label>
        <select class="col-6" id="ddlUserRole" asp-for="RoleId" required>
            @foreach (IdentityRole role in ViewBag.userRoles)
            {
                <option value="@role.Id">@role.Name</option>
            }
        </select>
     </div>

    <div class="form-row form-group float-right">
        <button type="button" class="btn btn-secondary text-white" onclick="closeEdit(this)" data-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn-success text-white" style="margin-left:5px;">Save</button>
    </div>

</form>
