﻿@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@model UserDetails


<tr>
    <td>@Model.UserName</td>
    <td>@Model.Email</td>
    <td>@Model.PhoneNumber</td>
    <td>@Model.RoleName</td>
    <td>
        
       <div class="editRow">
           <button onclick="editRow(this)" class="btn btn-link" data-toggle="tooltip" data-placement="bottom" title="Edit User">
               <i class="fas fa-edit"></i>
           </button>
           <div class="modal">
               <div class="modal-content">
                   <div class="modal-title">
                       Edit User Role
                       <span class="close" onclick="closeEdit(this)">&times;</span>
                   </div>
                   <partial name="_UpsertUser" model="Model" />
               </div>
           </div>
        </div>

        @*<div class="deleteRow">
            <button onclick="deleteRow(this)" class="btn btn-link">Delete</button>
            <div class="modal">
                <div class="modal-content">
                    <span class="close" onclick="closeEdit(this)">&times;</span>

                    <form id="deleteUserForm" method="post" action="/User/Delete">

                        <input class="col-6" type="hidden" id="txtUserId" name="UserId" asp-for="UserId" />
                        <p>Are you sure you want to delete @Model.UserName?</p>

                        <div class="float-right">
                            <button type="button" class="btn btn-secondary text-white" onclick="closeEdit(this)" data-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-success text-white">Delete</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>*@

    </td>
</tr>
