﻿@{
    ViewData["Title"] = "User Manager";
}
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@model IEnumerable<UserDetails>

<h4>User Manager</h4>
<form method="post" action="/User/Index" class="form-group" enctype="multipart/form-data">
    <div class="row">
        <div class="col-3">
            @*<div class="col-3">
                    <label>Role</label>
                    <select class="form-control" name="roleFilter">
                        <option value="">Any</option>
                        @foreach (UserDetails role in ViewBag.roleFilter)
                        {
                            if (@role.RoleId == ViewBag.roleFilter)
                            {
                                <option value="@role.RoleId" selected>@role.RoleName</option>
                            }
                            else
                            {
                                <option value="@role.RoleId">@role.RoleName</option>
                            }
                        }
                    </select>
                </div>*@
            <label>Search User</label>
            @if (ViewBag.searchFilter == null)
            {
                <input type="text" class="form-control" name="searchFilter" placeholder="Search.." />
            }
            else
            {
                <input type="text" class="form-control" name="searchFilter" placeholder="Search.." value="@ViewBag.searchFilter" />
            }
        </div>
        <div class="col-2">
            <button type="submit" class="btn btn-success text-white filter-button" style="margin-left:5px;"><i class="fas fa-search"></i> Search</button>
        </div>
    </div>
</form>
<hr />
@*<div class="addRow">
        <button onclick="editRow(this)" class="btn btn-primary btn-sm">Add New User</button>
        <div class="modal">
            <div class="modal-content">
                <span class="close" onclick="closeEdit(this)">&times;</span>
                <partial name="_UpsertUser" model="new UserDetails()" />

            </div>
        </div>
    </div>*@

@if (Model.Count() > 0)
{
    <table style="width:100%" border="1" class="table">

        <thead class="thead-dark">
            <tr>
                <th>User Name</th>
                <th>Email</th>
                <th>PhoneNumber</th>
                <th>Role</th>
                <th></th>
            </tr>

            @foreach (UserDetails user in Model)
            {
                <partial name="_UserDetails" model="@user" />
            }

        </thead>
    </table>
}
else
{
    <p>No Results</p>
}
