﻿@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@model PropertyDetails


<tr>
    <td>@Model.PropertyName</td>
    <td>@Model.PropertyAddress</td>
    <td>@Model.SuburbName</td>
    <td>@Model.PropertyDescription</td>
    <td>@Model.RoomNum</td>
    <td>@Model.BathNum</td>
    <td>@Model.size</td>
    <td>@Model.ParkNum</td>
    <td>@Model.AllowPets</td>
    <td>@Model.UserName</td>
    <td>

        <div class="editRow">
            <button onclick="editRow(this)" class="btn btn-link" data-toggle="tooltip" data-placement="bottom" title="Edit this Property">
                <i class="fas fa-edit"></i>
            </button>
            <div class="modal">
                <div class="modal-content">
                    <div class="modal-title">
                        Edit Property
                        <span class="close" onclick="closeEdit(this)">&times;</span>
                    </div>
                    <partial name="_propertyUpsert" model="Model" />
                </div>
            </div>
        </div>

        <form id="propertyItems" method="post" action="/Property/Images">
            <input class="col-6" type="hidden" id="txtPropertyID" name="PropertyID" asp-for="PropertyID" />
            <button type="submit" class="btn btn-link" data-toggle="tooltip" data-placement="bottom" title="View Property Images">
                 <i class="far fa-images"></i>   
            </button>
        </form>

        <div class="deleteRow">
            <button onclick="deleteRow(this)" class="btn btn-link" data-toggle="tooltip" data-placement="bottom" title="Delete this Property">
                <i class="far fa-trash-alt"></i>
            </button>
            <div class="modal">
                <div class="modal-content">
                    <div class="modal-title">
                        Delete Property
                        <span class="close" onclick="closeEdit(this)">&times;</span>
                    </div>
                    <form id="deleteUserForm" method="post" action="/Property/Delete">

                        <input class="col-6" type="hidden" id="txtPropertyID" name="PropertyID" asp-for="PropertyID" />
                        <p>Are you sure you want to delete @Model.PropertyName?</p>

                        <div class="float-right">
                            <button type="button" class="btn btn-secondary text-white" onclick="closeEdit(this)" data-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-success text-white">Delete</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>

    </td>
</tr>
