﻿@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@model PropertyDetails


<form id="upsertUserForm" method="post" action="/Property/Upsert" class="form-group" enctype="multipart/form-data">

    <input class="col-12" type="hidden" id="txtPropertyID" name="PropertyID" asp-for="PropertyID" />

    <div class="form-row form-group">
        <label class="col-sm-4" for="txtPropertyName">Name</label>
        <input class="col-sm-6" type="text" id="txtPropertyName" name="PropertyName" asp-for="PropertyName" required/>
    </div>

    <div class="form-row form-group">
        <label class="col-4" for="txtPropertyAddress">Address</label>
        <input class="col-6" type="text" id="txtPropertyAddress" name="PropertyAddress" asp-for="PropertyAddress" required />
    </div>

    <div class="form-row form-group">
        <label class="col-4" for="ddlSuburb">Suburb</label>
        <select class="col-6" id="ddlSuburb" asp-for="SuburbID" required>
            @foreach (Suburb suburb in ViewBag.suburbs)
            {
                <option value="@suburb.SuburbID">@suburb.SuburbName</option>
            }
        </select>
    </div>

    <div class="form-row form-group">
        <label class="col-4" for="txtRoomNum">Bedrooms</label>
        <input class="col-6" type="number" id="txtRoomNum" name="RoomNum" asp-for="RoomNum" required />
    </div>

    <div class="form-row form-group">
        <label class="col-4" for="txtBathNum">Bathrooms</label>
        <input class="col-6" type="number" id="txtBathNum" name="BathNum" asp-for="BathNum"  required/>
    </div>

    <div class="form-row form-group">
        <label class="col-4" for="txtParkNum">Parkings</label>
        <input class="col-6" type="number" id="txtParkNum" name="ParkNum" asp-for="ParkNum" required/>
    </div>

    <div class="form-row form-group">
        <label class="col-4" for="txtSize">Floor Size</label>
        <input class="col-6" type="number" id="txtSize" name="size" asp-for="size"required />
    </div>


    <div class="form-row form-group">
        <label class="col-4" for="cbAllowPets">Allow Pets</label>
        <div class="col">
            <input type="checkbox" id="cbAllowPets" name="AllowPets" asp-for="AllowPets" />
            <label for="cbAllowPets">Pet Friendly</label>
        </div>

    </div>

    <div class="form-row form-group">
        <label class="col-4" for="ddlUserID">Owner</label>
        <select class="col-6" id="ddlUserID" asp-for="UserId" required>
            @foreach (IdentityUser owners in ViewBag.owners)
            {
                <option value="@owners.Id">@owners.UserName</option>
            }
        </select>
    </div>


    <div class="form-row form-group">
        <label class="col-4" for="files">Images</label>
        <input class="col-6" type="file" id="files" name="files" multiple="multiple" />
    </div>


    <div class="form-row form-group">
        <label class="col-4" for="txtPropertyDescription">Description</label>
        <textarea class="col-8 text-upsert-areas" id="txtPropertyDescription" name="PropertyDescription" name="PropertyDescription" asp-for="PropertyDescription" required></textarea>

    </div>

    <div class="form-row form-group float-right">
        <button type="button" class="btn btn-secondary text-white" onclick="closeEdit(this)" data-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn-success text-white" style="margin-left:5px;">Save</button>
    </div>

</form>