﻿@{
    ViewData["Title"] = "Property Manager";
}
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@model IEnumerable<PropertyDetails>

<h4>Contact Details and Personnel Responsible</h4>



<p>
    If any individual living in the complex has an Emergency, General Enquiry or would simply like to make a Complaint, please use the details provided below.
    The Administrator allocated to your enquiry will see to your concerns immediately and address the situation.
</p>

<br />

<p class="bold">
    For queries regarding Maintenance such as:
</p>

<ul>
    <li>Electrical Issues / Concerns</li>
    <li>Plumbing</li>
    <li>Construction / Renovations</li>
    <li>Gardening</li>
    <li>Other</li>
</ul>

<a class="nav-link" asp-area="" asp-controller="Complaint" asp-action="Index"> <strong>Contact Victor</strong></a>

<br />

<p class="bold">
    For General enquiries such as:
</p>

<ul>
    <li>Parking Space / Towed Vehicles</li>
    <li>Fibre Installation / Damaged Lines</li>
    <li>Stolen / Lost Items</li>
    <li>General Query</li>
    <li>Other</li>
</ul>

<a class="nav-link" asp-area="" asp-controller="Complaint" asp-action="Index"> <strong>Contact Juliet</strong></a>

<br />

<p class="bold">
    For Personal enquiries such as:
</p>

<ul>
    <li>System Assitance</li>
    <li>Financial Queries</li>
    <li>Complaints</li>
    <li>Important Notices</li>
    <li>Other</li>
</ul>

<a class="nav-link" asp-controller="Complaint" asp-action="Index"> <strong>Contact Charlie</strong></a>
