﻿@{
    ViewData["Title"] = "Property Images";
}
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@model IEnumerable<PropertyImage>

<h4>Property Images</h4>


<form method="post" action="/Property">
    <button type="submit" class="btn-secondary text-white float-left" data-toggle="tooltip" data-placement="bottom" title="Return to Property Manager">
        <i class="fas fa-arrow-left"></i>
    </button>
</form>

<form method="post" action="/Property/AddImage" enctype="multipart/form-data">
    <button type="submit" class="btn btn-primary text-white float-lg-right" data-toggle="tooltip" data-placement="bottom" title="Upload Selected Images">
        <i class="fas fa-upload"></i>
    </button>
    <div class="form-row form-group float-lg-right">

        <input type="hidden" name="properyID" value="@ViewBag.properyIDImage"/>
        <input type="file" id="files" name="files" multiple="multiple" required />
    </div>
</form>

<div class="property_images">
    @if (Model.Count() > 0)
    {
        @foreach (PropertyImage propertyImage in Model)
        {
            var base64 = Convert.ToBase64String(propertyImage.Image);
            var imgsrc1 = string.Format("data:image/gif;base64,{0}", base64);

            <div class="image">
                <button onclick="editRow(this)" class="btn btn-danger btn-sm" style="position: relative; top: 30px; left: 520px" data-toggle="tooltip" data-placement="bottom" title="Delete Image">
                    <i class="far fa-trash-alt"></i>
                </button>
                <div class="modal">
                    <div class="modal-content">
                        <div class="modal-title">
                            Delete Image
                            <span class="close" onclick="closeEdit(this)">&times;</span>
                        </div>

                        <form method="post" action="/Property/DeleteImage">
                            <input type="hidden" name="ImageID" value="@propertyImage.ImageID" />

                            <p>Are you sure you want to delete the image?</p>

                            <div class="float-right">
                                <button type="button" class="btn btn-secondary text-white" onclick="closeEdit(this)" data-dismiss="modal">Cancel</button>
                                <button type="submit" class="btn btn-danger text-white">Delete</button>
                            </div>
                        </form>
                    </div>
                </div>
                <img src="@imgsrc1" width="550" height="350" />
            </div>
        }

    }
    else
    {
        <p>No Images</p>
    }

</div>

