﻿@{
    ViewData["Title"] = "Property Manager";
}
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@model IEnumerable<PropertyDetails>

<h4>Property Manager</h4>


<div class="addRow">
    <button onclick="editRow(this)" class="btn btn-primary btn-sm">Add Property</button>
    <div class="modal">
        <div class="modal-content">
            <div class="modal-title">
                Add Property 
                <span class="close" onclick="closeEdit(this)">&times;</span>
            </div>
            <partial name="_propertyUpsert" model="new PropertyDetails()" />
        </div>
    </div>
</div>


@if (Model.Count() > 0)
{
    <table style="width:100%" border="1" class="table">

        <thead class="thead-dark">
            <tr>
                <th>Name</th>
                <th>Address</th>
                <th>Suburb</th>
                <th>Description</th>
                <th>Bedrooms</th>
                <th>Bathrooms</th>
                <th>Floor Size</th>
                <th>Parkings</th>
                <th>Pet Friendly</th>
                <th>Owner</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (PropertyDetails property in Model)
            {
                <partial name="_propertyDetails" model="@property" />
            }
        </tbody>
    </table>

}
else
{
    <p>No Data</p>
}

