﻿@{
    ViewData["Title"] = "Home Page";
    //Layout = "_HomeLayout.cshtml";
}
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService

<style>
    .container1 {
        position: absolute;
        left: 0;
        top: 64px;
        max-width: 100vw;
        height: calc(100vh - 88px);
        overflow: hidden;
    }
</style>

<div class="overlay"></div>

<div class="container1">
    <img src="~/Images/Landing Page/HomeJPG.jpg" height="100%" width="100%" />
</div>
