﻿@{
    ViewData["Title"] = "The Collection and Use of Personal Information on this Website";
}
<h4> @ViewData["Title"]</h4>

<br />

<p class="bold">
    Information you Provide us with Directly:
</p>

<p>
    We ask for certain information such as your email and password to register a new account, however once you have registered and are assigned a role, you will be required to provide additional information to us, such as, your phone number, name, and surname.
    We may also save any messages you send through the service provided and may collect information you provide in your Profile.
    We use this information to operate, maintain, and provide the features and functionality of the system to you.
    Your username and if you choose to disclose it, your real name, will be publicly visible to other users. Once published your username and / or real name may be edited by you at any time.
</p>

<br />

<p class="bold">
    How long your Private Information will be kept:
</p>

<p>
    Following the termination of your account on our system, we may keep your profile information for a reasonable amount of time.
    This may be archived, and used for audit purposes. Any information you provide that is publicly displayed will be kept on our system.
</p>

<br />

<p class="bold">
    Ownership of Personal Information:
</p>

<p>
    Each user on the system controls their own account information and settings.
    You can update your account information such as your email communication preferences, your username or phone number at any time by logging in to your account and changing your profile settings
</p>

<br />

<p class="bold">
    Compromise of information:
</p>

<p>
    If there is a breach of security and information has been compromised, BRAKTS[;] will notify those individuals whose information might have been compromised immediately and we take full responsibility to correct the situation.
    We will ensure that all necessary steps are followed in such a situation and it will be investigated to the fullest extent in accordance with the laws rules and regulations.
</p>

<br />

<p class="bold">
    The Safety of your Information:
</p>

<p>
    In order to protect your privacy and ensure your security, we take the reasonable steps such as verifying user login identity and passwords before granting you access to your account.
    Remember, you are responsible for ensuring that you keep your personal information, such as you password a secret and that no one has access to your personal email account.
    BRAKTS[;] will not be held responsible for the negligence of it's users on the system.
</p>

<br />

<p class="bold">
    Sharing of Your Information:
</p>

<p>
    BRAKTS[;] does not rent or sell any of your personal information to third parties, that includes any parent, subsidiaries and affiliates without your consent.
</p>
