﻿@{
    ViewBag.Title = "About Us";
}

<h4>About Us</h4>
<div style="width: calc(100% - 140px);">
    <p style="text-align:justify">
        Software development company BRAKTS[;], pronounced (brackets) is a self startup company
        within the IT industry here in Port Elizabeth. Started by two
        university students in 2020. Striving to make everyday smarter, simpler and
        more secure. At BRAKTS[;], we specialize in developing various Resident
        Management Systems to best suite your property needs.
        <br />  <br />
        We provide a system known as, “HouseJunkey” - a full functional Resident
        Management System that can be customized to meet your everyday demands,
        be it big or small. We pride ourselves in hard work and determination so we
        can provide excellent services to all our clients. We do the hard work, so that
        you don’t have to.
        <br />  <br />
        Our number one rule is “Clients First”, this means that we always follow up
        with you even after the deal is done, this way we can gather your experience
        and feedback regarding our system, for continuous improvements and pass
        that information on for the benefit of our future clients.
        <br /><br />
        Contact us today for all your Resident Management System needs!
    </p>
</div>


<div class="contact-info">
    <div>
        <button class="btn btn-primary" style="float:right;" onclick="window.location.href='https://www.google.com/maps/dir/120+Cape+Rd,+Mill+Park,+Port+Elizabeth,+6001/data=!4m7!4m6!1m1!4e2!1m2!1m1!1s0x1e7ad2462e4f1a39:0xf9a69b94951299c1!3e0?sa=X&ved=2ahUKEwi2vrKSi77sAhXUuHEKHQhFDx4Qox16BAgDEBE';">Get Directions</button>
    </div>
    <br />
    <br />
    <div>
        <a href="https://www.google.com/">
            <img width="340" src="~/Images/Contact Us Page/AboutMap.jpg" /><br />
        </a>
    </div>

    <br />
    <br />

    <div>
        <p>
            <p1 style="font-weight: bold;">Email</p1><br />
            info@housejunkey.com<br /><br />
            <p1 style="font-weight: bold;">Telephone</p1><br />
            041 321 3391<br /><br />
            <p1 style="font-weight: bold;">Address</p1><br />
            120 Cape Road,<br />
            Mill Park,<br />
            Port Elizabeth,<br />
            6001
        </p>
    </div>
</div>

