﻿@model RMS22_Final_Project.Models.Inspection


<div class="container">
    <div class="modal fade" id="upsertInspection" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Property Inspection Details</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <form id="upsertInspectionForm" method="post" action="/Inspection/Upsert">
                        <input class="col-6" type="hidden" id="txtInspectionID" name="InspectionID" asp-for="InspectionID" />

                        <label class="col-4" for="ddlPropertyID">Property Name</label>
                        <select class="col-6" id="ddlPropertyID" asp-for="PropertyID" required>
                            @foreach (Property property in ViewBag.properties)
                            {
                                <option value="@property.PropertyID">@property.PropertyName</option>
                            }
                        </select>

                        <label class="col-4" for="txtDetails">Details</label>
                        <input class="col-6" type="text" id="txtDetails" name="Details" asp-for="Details" />

                        <label class="col-4" for="txtInspectionDate">Inspection Date</label>
                        <input class="col-6" type="date" id="txtInspectionDate" name="InspectionDate" asp-for="InspectionDate" />


                        <label class="col-4" for="cbInspectionStatus">Status</label>
                        <input class="col-6" type="checkbox" id="cbInspectionStatus" name="InspectionStatus" asp-for="InspectionStatus" />


                        <div class="float-right">
                            <button type="button" class="btn btn-secondary text-white" data-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-success text-white">Save</button>
                        </div>

                    </form>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="container">
    <div class="modal fade" id="deleteInspection" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Delete Inpection</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <form method="post" action="/Inspection/Delete">
                        <p>Are you sure you want to delete this inspection?</p>
                        <input class="col-6" type="hidden" id="txtDeleteInspectionID" name="InspectionID" asp-for="InspectionID" />

                        <div class="float-right">
                            <button type="button" class="btn btn-secondary text-white" data-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-danger text-white">Delete</button>
                        </div>

                    </form>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="container row p-0 a-0">
    <div class="col-12">
        <h1 class="float-left">Property Inspection Manager</h1>
        <button type="button" class="btn btn-info table-header-buttons" onclick="Upsert()">Add Inspection</button>
    </div>
    <div class="col-12 border p-3">
        <table id="DT_load" class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>Property Name</th>
                    <th>Details</th>
                    <th>Inspection Date</th>
                    <th>Status</th>
                    <th></th>
                </tr>
            </thead>
        </table>
    </div>

</div>

@section Scripts {
    <script src="~/js/Inspection.js"></script>
}