﻿@model RMS22_Final_Project.Models.InspectionItem

<div class="container">
    <div class="modal fade" id="upsertInspectionItem" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Property Item Details</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <form id="upsertInspectionItemForm" method="post" action="/Inspection/UpsertItem">

                        <input class="col-6" type="hidden" id="txtItemID" name="ItemID" asp-for="ItemID" />
                        <input class="col-6" type="hidden" id="txtInspectionID" name="InspectionID" asp-for="InspectionID" />


                        <label class="col-4" for="txtName">Name</label>
                        <input class="col-6" type="text" id="txtName" name="Name" asp-for="Name" />


                        <label class="col-4" for="txtDescription">Description</label>
                        <input class="col-6" type="text" id="txtDescription" name="Description" asp-for="Description" />

                        <label class="col-4" for="ddlResultID">Result</label>
                        <select class="col-6" id="ddlResultID" asp-for="ResultID" required>
                            @foreach (InspectionResult result in ViewBag.result)
                            {
                                <option value="@result.ResultID">@result.Description</option>
                            }
                        </select>

                        <label class="col-4" for="txtNotes">Notes</label>
                        <textarea class="col-8 text-upsert-areas" type="text" id="txtNotes" name="Notes" asp-for="Notes" /></textarea>

                        <div class="float-right upsert-buttons">
                            <button type="button" class="btn btn-secondary text-white" data-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-success text-white">Save</button>
                        </div>

                    </form>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="container">
    <div class="modal fade" id="deleteInspectionItem" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Delete Item</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <form method="post" action="/Inspection/DeleteItem">
                        <p>Are you sure you want to delete this item?</p>
                        <input class="col-6" type="hidden" id="txtDeleteInspectionItemID" name="ItemID" asp-for="ItemID" />

                        <div class="float-right">
                            <button type="button" class="btn btn-secondary text-white" data-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-danger text-white">Delete</button>
                        </div>

                    </form>
                </div>
            </div>

        </div>
    </div>
</div>


<div class="container row p-0 a-0">
    <div class="col-12">
        <h1 class="float-left">Inspection Items</h1>
        <button type="button" class="btn btn-info table-header-buttons" onclick="Upsert()">Add Item</button>
        <a class="btn btn-secondary text-white table-header-buttons" asp-area="" asp-controller="Inspection" asp-action="Index">Back</a>
    </div>
    <div class="col-12 border p-3">
        <table id="DT_load" class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Result</th>
                    <th>Notes</th>
                    <th></th>
                </tr>
            </thead>
        </table>
    </div>

</div>

@section Scripts {
    <script src="~/js/Items.js"></script>
}