﻿@model RMS22_Final_Project.Models.Listing
@Html.ValidationSummary(false, "", new { @class = "text-danger" })

<div class="container">
        <div class="modal fade" id="upsertListing" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Property Listing Details</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <form id="upsertListingForm" method="post" action="/Listing/Upsert">
                            <input class="col-6" type="hidden" id="txtListID" name="ListID" asp-for="ListID" />

                            <label class="col-4" for="ddlPropertyID">Property Name</label>
                            <select class="col-6" id="ddlPropertyID" asp-for="PropertyID" required>
                                @foreach (Property property in ViewBag.propertyID)
                                {
                                    <option value="@property.PropertyID">@property.PropertyName</option>
                                }
                            </select>

                            <label class="col-4" for="txtListingPrice">Price</label>
                            <input class="col-6" type="text" id="txtListingPrice" name="ListingPrice" asp-for="ListingPrice" />

                            <label class="col-4" for="txtAvailabilityDate">Date Available</label>
                            <input class="col-6" type="text" id="txtAvailabilityDate" name="AvailabilityDate" asp-for="AvailabilityDate" />

                            <label class="col-4" for="ddlListStatusID">Listing Status</label>
                            <select class="col-6" id="ddlListStatusID" asp-for="ListingStatusID" required>
                                @foreach (ListingStatus listingStatusDescription in ViewBag.listingStatusDescription)
                                {
                                    <option value="@listingStatusDescription.ListingStatusID">@listingStatusDescription.ListingStatusDescription</option>
                                }
                            </select>

                            <div class="float-right">
                                <button type="button" class="btn btn-secondary text-white" data-dismiss="modal">Cancel</button>
                                <button type="submit" class="btn btn-success text-white">Save</button>
                            </div>

                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="container">
        <div class="modal fade" id="deleteListing" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Delete listing</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <form method="post" action="/Listing/Delete">
                            <p>Are you sure you want to delete this listing?</p>
                            <input class="col-6" type="hidden" id="txtDeleteListingID" name="ListID" asp-for="ListID" />

                            <div class="float-right">
                                <button type="button" class="btn btn-secondary text-white" data-dismiss="modal">Cancel</button>
                                <button type="submit" class="btn btn-danger text-white">Delete</button>
                            </div>

                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>


<div class="container row p-0 a-0">
    <div class="col-12">
        <h1 class="float-left">Property Listing Manager</h1>
        <button type="button" class="btn btn-info table-header-buttons" onclick="Upsert()">Add Property Listing</button>
    </div>
    <div class="col-12 border p-3">
        <table id="DT_load" class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>Property Name</th>
                    <th>Price</th>
                    <th>Availability Date</th>
                    <th>Status</th>
                    <th></th>
                </tr>
            </thead>
        </table>
    </div>

</div>

@section Scripts {
    <script src="~/js/Listing.js"></script>
}