﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.modal-header {
    background-color: #17a2b8;
    color: white;
}

.table-header-buttons {
    margin: 7.5px 0px;
    float: right;
    margin-left: 10px;
}

.nav-background-color {
    background-color: #17a2b8 !important;
}

.listing-icons-text {
    float: right;
    margin-top: 11px;
}

.listing-info-bottom {
    position: absolute;
    bottom: 43px;
}

.upsert-buttons {
    clear: both;
    padding: 10px 0px; 
}

.text-upsert-areas {
    margin-top: 0px;
    margin-bottom: 0px;
    height: 104px;
    float: right;
    margin: 0px -4px 0px 0px;
}

.nofication-container {
    background-color: #dbdbdb;
    margin: 0px 0px 20px 0px;
    padding: 15px;
}

.nofication-container-item {
    float: right;
    clear: both;
    font-weight: bold;
}

.nofication-container .messsage {
    clear: both;
}

