﻿@{
    ViewData["Title"] = "Contact Us";
}

<h4>Contact Us</h4>

<p style=" width: calc(100% - 140px);">
    Should you have any enquiries regarding properties listed on our website or you simply just in need of some assistance,
    please feel free to let us know by filling in and submitting the form below, and we will have one of our employees contact you shortly,
    or you can simply contact us via the information listed on this page.
</p>

<br/>

<form class="form-group">

    <div class="form-row form-group">
        <label class="col-1 bold" for="txtFirstName">Name:</label>
        <input class="col-2" type="text" id="Name" name="Name" required />
        <div class="col-1"></div>
        <label class="col-1 bold" for="txtEmail">Email:</label><br />
        <input class="col-2" type="text" id="txtEmail" name="Name" required />
    </div>

    <div class="form-row form-group">
        <label class="col-1 bold" for="txtMessage">Message:</label>
        <textarea class="col-6" type="text" id="txtMessage" name="Message" rows="10" cols="91" style=" height: 150px;" required></textarea>
    </div>

    <div class="form-row form-group">
        <div class="col-7">
            <button class="btn btn-success" style="float:right;" value="send">
                <i class="fas fa-share"></i>
            </button>
        </div>
    </div>
</form>

<div class="contact-info">
    <div>
        <button class="btn btn-primary" style="float:right;" onclick="window.location.href='https://www.google.com/maps/dir/120+Cape+Rd,+Mill+Park,+Port+Elizabeth,+6001/data=!4m7!4m6!1m1!4e2!1m2!1m1!1s0x1e7ad2462e4f1a39:0xf9a69b94951299c1!3e0?sa=X&ved=2ahUKEwi2vrKSi77sAhXUuHEKHQhFDx4Qox16BAgDEBE';">Get Directions</button>
    </div>
    <br />
    <br />
    <div>
        <a href="https://www.google.com/">
            <img width="340" src="~/Images/Contact Us Page/AboutMap.jpg" /><br />
        </a>
    </div>

    <br />
    <br />

    <div>
        <p>
            <p1 style="font-weight: bold;">Email</p1><br />
            info@housejunkey.com<br /><br />
            <p1 style="font-weight: bold;">Telephone</p1><br />
            041 321 3391<br /><br />
            <p1 style="font-weight: bold;">Address</p1><br />
            120 Cape Road,<br />
            Mill Park,<br />
            Port Elizabeth,<br />
            6001
        </p>
    </div>
</div>

