﻿@model RMS22_Final_Project.Models.ComplaintMessage

<div class="row">
    <h1 class="col-12">Complaints</h1>
</div>

<div class="row">
    <div class="col-3">
        <label>From</label>
        <select class="form-control">
            <option value="">Any</option>
            @foreach (User user in ViewBag.users)
            {
                <option value="@user.UserID">@user.UserName</option>
            }
        </select>

    </div>

    <div class="col-3">
        <label>Type</label>
        <select class="form-control">
            <option value="">Any</option>
            @foreach (ComplaintType type in ViewBag.types)
            {
                <option value="@type.TypeID">@type.Description</option>
            }
        </select>
    </div>
    <div class="col-3">
        <label>Status</label>
        <select class="form-control">
            @foreach (ComplaintStatus status in ViewBag.status)
            {
                <option value="@status.StatusID">@status.Description</option>
            }
        </select>
    </div>
    <div class="col-3">
        <label>Title</label>
        <input type="text" class="form-control" />
    </div>
</div>

<hr />

<div class="row">
    <div class="col-12">
        <button type="button" class="btn btn-info float-right table-header-buttons" onclick="Upsert()">Add Complaint</button>
    </div>
</div>

@*@foreach (NotificationMessages messsage in ViewBag.Notifications)
{
    <div class="nofication-container row">
        <div class="image col-4">
            <img src="~/images/notifications/1.PNG" />
        </div>
        <div class="image col-8">
            <div class="dateSent nofication-container-item">@messsage.DateSent</div>
            <div class="user nofication-container-item">@messsage.UserName</div>
            <div class="messsage">@messsage.Message</div>
        </div>
    </div>
}*@


@*@section Scripts {
    <script src="~/js/Notification.js"></script>
}*@

