﻿@model RMS22_Final_Project.Models.Notification
@{
    var userTo = 0;
}

<div class="container">
    <div class="modal fade" id="upsertNotification" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Notification Details</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <form id="upsertNotificationForm" method="post" action="/Notification/Insert">
                        <label class="col-4" for="ddlTypeID">Type</label>
                        <select class="col-6" id="ddlTypeID" asp-for="TypeID" required>
                            @foreach (NotificationType type in ViewBag.notificationType)
                            {
                                <option value="@type.TypeID">@type.DescriptionType</option>
                            }
                        </select>

                        <label class="col-4" for="ddlTo">To</label>
                        <select class="col-6" id="ddlTo" value="@userTo" required>
                            @foreach (MessageUser user in ViewBag.messageUsers)
                            {
                                <option value="@user.UserID">@user.UserName</option>
                            }
                        </select>

                        <label class="col-4" for="txtMessage">Message</label>
                        <textarea class="col-8 text-upsert-areas" id="txtMessage" name="Message" asp-for="Message"></textarea>

                        <div class="float-right upsert-buttons">
                            <button type="button" class="btn btn-secondary text-white" data-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-success text-white">Save</button>
                        </div>

                    </form>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="row">
    <h1 class="col-12">Notifications</h1>
</div>

<div class="row">
    <div class="col-3">
        <label>Type</label>
        <select class="form-control">
            <option value="">Any</option>
            @foreach (NotificationType type in ViewBag.notificationType)
            {
                <option value="@type.TypeID">@type.DescriptionType</option>
            }
        </select>

    </div>

    <div class="col-3">
        <label>From</label>
        <select class="form-control">
            <option value="">Any</option>
            @foreach (User user in ViewBag.users)
            {
                <option value="@user.UserID">@user.UserName</option>
            }
        </select>
    </div>
    <div class="col-6">
        <label>Message</label>
        <input type="text" class="form-control"/>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-12">
        <button type="button" class="btn btn-info float-right table-header-buttons" onclick="Upsert()">Add Notification</button>
    </div>
</div>

@foreach (NotificationMessages messsage in ViewBag.Notifications)
{
    <div class="nofication-container row">
        <div class="image col-4">
            <img src="~/images/notifications/1.PNG" />
        </div>
        <div class="image col-8">
            <div class="dateSent nofication-container-item">@messsage.DateSent</div>
            <div class="user nofication-container-item">@messsage.UserName</div>
            <div class="messsage">@messsage.Message</div>
        </div>
    </div>
}

@section Scripts {
    <script src="~/js/Notification.js"></script>
}

