﻿@{
    ViewData["Title"] = "Home Page";
}
@model RMS22_Final_Project.Models.AvailableListing

<div class="row">
    <div class="col-3">
        <label>Suburb</label>
        <select class="form-control">
            <option value="">Any</option>
            @foreach (Suburb suburb in ViewBag.suburbs)
            {
                <option value="@suburb.SuburbID">@suburb.SuburbName</option>
            }
        </select>
      
    </div>

    <div class="col-3">
        <label>Min Price</label>
        <select class="form-control">
            <option value="999999">Any</option>
            @for (int i = 1000; i < 15000; i = i + 1000)
            {
                <option value="@i">R @i </option>
            }

        </select>
    </div>
    <div class="col-3">
        <label>Max Price</label>
        <select class="form-control">
            <option value="-1">Any</option>
            @for (int i = 1000; i < 15000; i = i + 1000)
            {
                <option value="@i">R @i </option>
            }
        </select>
    </div>
    <div class="col-3">
        <label>Bedrooms</label>
        <select class="form-control">
            <option value="-1">Any</option>
            @for (int i = 1; i < 5; i++)
            {
                <option value="@i">@i +</option>
            }
        </select>
    </div>

</div>

<hr />

@foreach (AvailableListing listing in ViewBag.listings)
{
    <div class="propery-listing-item">
        <div class="row">
            <div class="col-6">
                <img src="~/images/property/1/img1.jpg" width="500" />
                <div class="row">
                    <div>
                        <img src="~/images/bed.PNG" />
                        <div class="listing-icons-text">Bedrooms: @listing.RoomNum </div>
                    </div>
                    <div>
                        <img src="~/images/bath.PNG" />
                        <div class="listing-icons-text">Bathrooms: @listing.BathNum </div>
                    </div>
                    <div>
                        <img src="~/images/parking.PNG" />
                        <div class="listing-icons-text">Parkings: @listing.ParkNum </div>
                    </div>
                    <div>
                        <img src="~/images/floor.PNG" />
                        <div class="listing-icons-text">Floor: @listing.size </div>
                    </div>
                </div>

            </div>
            <div class="col-6">
                <div class="row">
                    <h2>R @listing.ListingPrice </h2>

                </div>
                <div class="row">
                    <p class="font-weight-bold">@listing.SuburbName </p>

                </div>
                <div class="row">
                    <p>@listing.PropertyDescription</p>

                </div>

                <div class="listing-info-bottom">
                    <div class="row">
                        <span class="font-weight-bold">Contact: </span> @listing.FirstName @listing.LastName
                    </div>
                    <div class="row">
                        <img src="~/images/phone.PNG" />
                        <div class="listing-icons-text" style="margin-top: 7px;"> @listing.CellNo </div>
                    </div>
                    <div class="row">
                        <img src="~/images/email.PNG" />
                        <div class="listing-icons-text" style="margin-top: 7px"> @listing.Email </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr />

}
