﻿@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@model RentalDetails
    
<tr>
    <td>@Model.UserName</td>
    <td>@Model.PropertyName</td>
    <td>@Model.StartDate</td>
    <td>@Model.EndDate</td>
    <td>@Model.MonthlyInstallment</td>
    <td>@Model.Deposit</td>

    @if (User.IsInRole("admin") || User.IsInRole("owner"))
    {
        <td>
            <div class="editRow">
                <button onclick="editRow(this)" class="btn btn-link" data-toggle="tooltip" data-placement="bottom" title="Edit this Rental">
                    <i class="fas fa-edit"></i>
                </button>
                <div class="modal">
                    <div class="modal-content">
                        <div class="modal-title">
                            Edit Rental Details
                            <span class="close" onclick="closeEdit(this)">&times;</span>
                        </div>
                        <partial name="_UpsertRental" model="Model" />
                    </div>
                </div>
            </div>

            <div class="deleteRow">
                <button onclick="deleteRow(this)" class="btn btn-link" data-toggle="tooltip" data-placement="bottom" title="Delete this Rental">
                    <i class="far fa-trash-alt"></i>
                </button>
                <div class="modal">
                    <div class="modal-content">
                        <div class="modal-title">
                            Delete Rental Details
                            <span class="close" onclick="closeEdit(this)">&times;</span>
                        </div>
                        <form id="deleteUserForm" method="post" action="/Rental/Delete">

                            <input class="col-6" type="hidden" id="txtRentalID" name="RentalID" asp-for="RentalID" />
                            <p>Are you sure you want to delete @Model.PropertyName?</p>

                            <div class="float-right">
                                <button type="button" class="btn btn-secondary text-white" onclick="closeEdit(this)" data-dismiss="modal">Cancel</button>
                                <button type="submit" class="btn btn-success text-white">Delete</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>

        </td>
    }
    </tr>
