﻿@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@model RentalDetails


<form id="upsertRentalForm" method="post" action="/Rental/Upsert" class="form-group"  enctype="multipart/form-data">

    <input class="col-6" type="hidden" id="txtRentalID" name="RentalID" asp-for="RentalID" />

    <div class="form-row form-group">
        <label class="col-4" for="ddlUserName">Tenant</label>

        <select class="col-6" id="ddlUserName" asp-for="UserID" required>
            @foreach (IdentityUser user in ViewBag.users)
            {
                <option value="@user.Id">@user.UserName</option>
            }
        </select>
    </div>

    <div class="form-row form-group">
        <label class="col-4" for="ddlProperties">Property Name</label>
        <select class="col-6" id="ddlProperties" asp-for="PropertyID" required>
            @foreach (Property property in ViewBag.properties)
            {
                <option value="@property.PropertyID">@property.PropertyName</option>
            }
        </select>
    </div>

    <div class="form-row form-group">
        <label class="col-4" for="txtStartDate">Start Date</label>
        <input class="col-6" type="date" id="txtStartDate" name="StartDate" asp-for="StartDate" required/>
    </div>

    <div class="form-row form-group">
        <label class="col-4" for="txtEndDate">End Date</label>
        <input class="col-6" type="date" id="txtEndDate" name="EndDate" asp-for="EndDate" required/>
    </div>

    <div class="form-row form-group">
        <label class="col-4" for="txtMonthlyInstallment">Monthly Installment</label>
        <input class="col-6" type="text" id="txtMonthlyInstallment" name="MonthlyInstallment" asp-for="MonthlyInstallment" required/>
    </div>

    <div class="form-row form-group">
        <label class="col-4" for="txtDeposit">Deposit</label>
        <input class="col-6" type="text" id="txtDeposit" name="Deposit" asp-for="Deposit" required />
    </div>

    <div class="form-row form-group">
        <label class="col-4" for="cbAllowPets">Remove Available Listings</label>
        <div class="col">
            <input type="checkbox" name="removeListings" />
            <label for="removeListings">Remove</label>
        </div>

    </div>


    <div class="float-right">
        <button type="button" class="btn btn-secondary text-white" onclick="closeEdit(this)" data-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn-success text-white">Save</button>
    </div>
</form>
        
