﻿@{
    ViewData["Title"] = "Rental Page";
}
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@model IEnumerable<RentalDetails>


<h4>
    Rental
</h4>
<!--Added This-->
@if (User.IsInRole("owner"))
{
    @if (Model.Count() > 0)
    {
        @using (Html.BeginForm("Export", "Rental", FormMethod.Post))
        {
            <input type="hidden" name="RentalHtml" />
            <input type="submit" id="btnSubmit" value="Export" title="Export Data to PDF Report" />
        }
    }
    else if (Model.Count() <= 0)
    {
        {
            <input type="hidden" name="RentalHtml" />
            <input type="submit" id="btnSubmit" value="Export" disabled title="No Data to export to PDF Report" />

        }
    }
}
@if (User.IsInRole("admin"))
{
    @if (Model.Count() > 0)
    {
        @using (Html.BeginForm("Export", "Rental", FormMethod.Post))
        {
            <input type="hidden" name="RentalHtml" />
            <input type="submit" id="btnSubmit" value="Export" title="Export Data to PDF Report" />
        }
    }
    else if (Model.Count() <= 0)
    {
        {
            <input type="hidden" name="RentalHtml" />
            <input type="submit" id="btnSubmit" value="Export" disabled title="No Data to export to PDF Report" />

        }
    }
}



@if (User.IsInRole("admin") || User.IsInRole("owner"))
{
    <div class="addRow">
        <button onclick="editRow(this)" class="btn btn-primary btn-sm">Add Rental</button>
        <div class="modal">
            <div class="modal-content">
                <div class="modal-title">
                    Add Rental Details
                    <span class="close" onclick="closeEdit(this)">&times;</span>
                </div>
                <partial name="_UpsertRental" model="new RentalDetails()" />
            </div>
        </div>
    </div>
}

@if (Model.Count() > 0)
{
    <table style="width:100%" border="1" class="table">
        <thead class="thead-dark">
            <tr>
                <th>User Name</th>
                <th>Property Name</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Monthly Installment</th>
                <th>Deposit</th>
                @if (User.IsInRole("admin") || User.IsInRole("owner"))
                {
                    <th></th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (RentalDetails rental in Model)
            {
                <partial name="_RentalDetails" model="@rental" />
            }
        </tbody>
    </table>
    @if (User.IsInRole("owner"))
    {
        <div id="Rental" hidden>
            @Html.Partial("RentalReportPartialView", Model)
        </div>
    }
    else if (User.IsInRole("admin"))
    {
        <div id="RentalAdmin" hidden>
            @Html.Partial("RentalReportAdminView", Model)
        </div>
    }
}

else
{
    <p>No Data</p>
}

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
@if (User.IsInRole("owner"))
{
    <script type="text/javascript">
        $(function () {
            $("#btnSubmit").click(function () {
                $("input[name='RentalHtml']").val($("#Rental").html());
            });
        });
    </script>
}
else if (User.IsInRole("admin"))
{
    <script type="text/javascript">
        $(function () {
            $("#btnSubmit").click(function () {
                $("input[name='RentalHtml']").val($("#RentalAdmin").html());
            });
        });
    </script>
}