﻿@model IEnumerable<RentalDetails>
<html>
<head>
    <h3 align="center">Report of Current All Rentals</h3>
</head>
<body>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <div>
        <table style="width:100%" border="1">
            <tr style="background-color: #262424;border: 1px solid #ccc; color: white;" align="center">
                <th>Tenant</th>
                <th>Property Name</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Monthly Installment</th>
                <th>Deposit</th>
            </tr>
            @foreach (RentalDetails rental in Model)
            {
                <tr align="center">
                    <td style="width:120px;border: 1px solid #ccc">@rental.UserName</td>
                    <td style="width:120px;border: 1px solid #ccc">@rental.PropertyName</td>
                    <td style="width:120px;border: 1px solid #ccc">@rental.StartDate</td>
                    <td style="width:120px;border: 1px solid #ccc">@rental.EndDate</td>
                    <td style="width:120px;border: 1px solid #ccc">R @rental.MonthlyInstallment</td>
                    <td style="width:120px;border: 1px solid #ccc">R @rental.Deposit</td>
                </tr>
            }
        </table>
    </div>
    <br /><br />
    <p>&nbsp;</p><p>To Whom it may concern,</p><p>&nbsp;</p><p> This is a legitimate report that was supplied by HouseJunkey on @DateTime.Today. Should you have any enquires please don't hesitate to contact us.</p><p>&nbsp;</p><p> Kind Regards,</p><p>HouseJunkey Management.</p>
    <p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>Email: Info@Housejunkey.com</p><p>Tel.: 041 321 3391</p><p>Address: 123 Cape Road,</p><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Newton Park,</p><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Port Elizabeth</p><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;6001</p>

</body>
</html>