﻿@{
    ViewData["Title"] = "Home Page";
}
@model IEnumerable<AvailableListings>


<form method="post" action="/AvailableListings/Index" class="form-group" enctype="multipart/form-data">

    <div class="row">
        <div class="col-4">
            <label>Suburb</label>
            <select class="form-control" name="suburbFilter">
                <option value=-1>Any</option>
                @foreach (Suburb suburb in ViewBag.suburbs)
                {

                    if (@suburb.SuburbID == ViewBag.suburbFilter)
                    {
                        <option value="@suburb.SuburbID" selected>@suburb.SuburbName</option>
                    }
                    else
                    {
                        <option value="@suburb.SuburbID">@suburb.SuburbName</option>
                    }
                }
            </select>
        </div>
        <div class="col-2">
            <label>Min Price</label>
            <select class="form-control" name="minPriceFilter">
                <option value="-1">Any</option>
                @for (int i = 1000; i < 15000; i = i + 1000)
                {

                    if (i == ViewBag.minPriceFilter)
                    {
                        <option value="@i" selected>R @i </option>
                    }
                    else
                    {
                        <option value="@i">R @i </option>
                    }
                }

            </select>
        </div>
        <div class="col-2">
            <label>Max Price</label>
            <select class="form-control" name="maxPriceFilter">
                <option value="999999">Any</option>
                @for (int i = 1000; i < 15000; i = i + 1000)
                {

                    if (i == ViewBag.maxPriceFilter)
                    {
                        <option value="@i" selected>R @i </option>
                    }
                    else
                    {
                        <option value="@i">R @i </option>
                    }
                }
            </select>
        </div>
        <div class="col-2">
            <label>Bedrooms</label>
            <select class="form-control" name="bedroomFilter">
                <option value="-1">Any</option>
                @for (int i = 1; i < 5; i++)
                {
                    if (i == ViewBag.bedroomFilter)
                    {
                        <option value="@i" selected>@i +</option>
                    }
                    else
                    {
                        <option value="@i">@i +</option>
                    }

                }
            </select>
        </div>
        <div class="col-2">
            <button type="submit" class="btn btn-success text-white filter-button" style="margin-left:5px;"><i class="fas fa-search"></i> Search</button>
        </div>
    </div>
</form>

<hr />
@if (@Model.Count() > 0)
{

    @foreach (AvailableListings listing in @Model)
    {
        <div class="propery-listing-item">
            <div class="row">
                <div class="col-6">
                    <div id="carousel_@listing.ListID" class="carousel slide" data-ride="carousel_@listing.ListID">
                        <div class="carousel-inner">
                            @{
                                var first = true;
                            }
                            @foreach (PropertyImage image in listing.Images)
                            {
                                if (first == true)
                                {
                                    <div class="carousel-item active">
                                        @{
                                            var base64 = Convert.ToBase64String(image.Image);
                                            var imgsrc1 = string.Format("data:image/gif;base64,{0}", base64);
                                        }
                                        <img src="@imgsrc1" width="550" height="350" />
                                    </div>
                                    first = false;
                                }
                                else
                                {
                                    <div class="carousel-item">
                                        @{
                                            var base64 = Convert.ToBase64String(image.Image);
                                            var imgsrc1 = string.Format("data:image/gif;base64,{0}", base64);
                                        }
                                        <img src="@imgsrc1" width="550" height="350" />
                                    </div>
                                }
                                <a class="carousel-control-prev" href="#carousel_@listing.ListID" role="button" data-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next" href="#carousel_@listing.ListID" role="button" data-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            }
                        </div>
                    </div>

                    <div class="row">

                        <div class="col listing-icons-text">
                            <i class="fas fa-bed listing-icons-icon"></i>
                            @listing.RoomNum
                        </div>

                        <div class="col listing-icons-text">
                            <i class="fas fa-bath listing-icons-icon"></i>
                            @listing.BathNum
                        </div>

                        <div class="col listing-icons-text">
                            <i class="fas fa-car listing-icons-icon"></i>
                            @listing.ParkNum
                        </div>

                        <div class="col listing-icons-text">
                            <i class="far fa-square listing-icons-icon"></i>
                            @listing.size
                        </div>
                    </div>

                </div>
                <div class="col-6">
                    <div class="row">
                        <h2>R @listing.ListingPrice </h2>

                    </div>
                    <div class="row">
                        <p class="font-weight-bold">@listing.SuburbName </p>

                    </div>
                    <div class="row">
                        <p>@listing.PropertyDescription</p>

                    </div>

                    <div class="listing-info-bottom">
                        <div class="row">
                            <span class="font-weight-bold">Contact The Owner: </span>
                        </div>
                        <div class="row">
                            <div style="margin-top: 7px;">
                                <i class="fas fa-phone-square-alt listing-icons-icon"></i>
                                @listing.PhoneNumber
                            </div>
                        </div>
                        <div class="row">
                            <div style="margin-top: 7px">
                                <i class="fas fa-envelope-square listing-icons-icon"></i>
                                @listing.Email
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr />

    }
}
else { 
    <p>No Results</p>                                            
}

