﻿@model RMS22_Final_Project.Models.Rental


<div class="container">
    <div class="modal fade" id="upsertRental" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Rental Details</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <form id="upsertRentalForm" method="post" action="/Rental/Upsert">
                        <input class="col-6" type="hidden" id="txtRentalID" name="RentalID" asp-for="RentalID" />

                        <label class="col-4" for="ddlPropertyID">Property Name</label>
                        <select class="col-6" id="ddlPropertyID" asp-for="PropertyID" required>
                            @foreach (Property property in ViewBag.properties)
                            {
                                <option value="@property.PropertyID">@property.PropertyName</option>
                            }
                        </select>

                        <label class="col-4" for="txtStartDate">Start Date</label>
                        <input class="col-6" type="date" id="txtStartDate" name="StartDate" asp-for="StartDate" />

                        <label class="col-4" for="txtEndDate">End Date</label>
                        <input class="col-6" type="date" id="txtEndDate" name="EndDate" asp-for="EndDate" />

                        <label class="col-4" for="txtDeposit">Deposit</label>
                        <input class="col-6" type="text" id="txtDeposit" name="Deposit" asp-for="Deposit" />

                        <label class="col-4" for="txtMonthlyInstallment">Installment</label>
                        <input class="col-6" type="text" id="txtMonthlyInstallment" name="MonthlyInstallment" asp-for="MonthlyInstallment" />


                        <label class="col-4" for="ddlUserID">Tenant</label>
                        <select class="col-6" id="ddlUserID" asp-for="UserID" required>
                            @foreach (User user in ViewBag.users)
                            {
                                <option value="@user.UserID">@user.UserName</option>
                            }
                        </select>



                        <div class="float-right property-upsert-buttons">
                            <button type="button" class="btn btn-secondary text-white" data-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-success text-white">Save</button>
                        </div>

                    </form>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="container">
    <div class="modal fade" id="deleteRental" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Delete Rental</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <form method="post" action="/Rental/Delete">
                        <p>Are you sure you want to delete this rental?</p>
                        <input class="col-6" type="hidden" id="txtDeleteRentalID" name="RentalID" asp-for="RentalID" />

                        <div class="float-right">
                            <button type="button" class="btn btn-secondary text-white" data-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-danger text-white">Delete</button>
                        </div>

                    </form>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="container row p-0 a-0">
    <div class="col-12">
        <h1 class="float-left">Rental Manager</h1>
        <button type="button" class="btn btn-info table-header-buttons" onclick="Upsert()">Add Rental</button>
    </div>
    <div class="col-12 border p-3">
        <table id="DT_load" class="table table-bordered table-striped display compact" style="width:100%">
            <thead>
                <tr>
                    <th>Property Name</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Deposit</th>
                    <th>Monthly Installment</th>
                    <th>Tenant</th>
                    <th style="width:130px"></th>
                </tr>
            </thead>
        </table>
    </div>

</div>

@section Scripts {
    <script src="~/js/Rental.js"></script>
}

