﻿@{
    ViewData["Title"] = "Listing Manager";
}
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@model IEnumerable<ComplaintDetails>


<div class="row">
    <h4 class="col-12">Messages</h4>
</div>
<form method="post" action="/Complaint/Index" class="form-group" enctype="multipart/form-data">
    <div class="row">
        <div class="col-3">
            <label>From</label>
            <select class="form-control" name="fromFilter">
                <option value="default">Any</option>
                @foreach (IdentityUser user in ViewBag.users)
                {
                    if (@user.Id == ViewBag.fromFilter)
                    {
                        <option value="@user.Id" selected>@user.UserName</option>
                    }
                    else
                    {
                        <option value="@user.Id">@user.UserName</option>
                    }
                }
            </select>

        </div>

        <div class="col-3">
            <label>Type</label>
            <select class="form-control" name="typeFilter">
                <option value="-1">Any</option>
                @foreach (ComplaintType type in ViewBag.types)
                {
                    if (@type.TypeID == ViewBag.typeFilter)
                    {
                        <option value="@type.TypeID" selected>@type.Description</option>
                    }
                    else
                    {
                        <option value="@type.TypeID">@type.Description</option>
                    }
                }
            </select>
        </div>
        <div class="col-3">
            <label>Status</label>
            <select class="form-control" name="statusFilter">
                <option value="-1">Any</option>
                @foreach (ComplaintStatus status in ViewBag.status)
                {
                    if (@status.StatusID == ViewBag.statusFilter)
                    {
                        <option value="@status.StatusID" selected>@status.Description</option>
                    }
                    else
                    {
                        <option value="@status.StatusID">@status.Description</option>
                    }
                }
            </select>
        </div>
        <div class="col-2">
            <button type="submit" class="btn btn-success text-white filter-button" style="margin-left:5px;"><i class="fas fa-search"></i> Search</button>
        </div>
    </div>
</form>

<hr />
<div style="padding-bottom:30px">
    <button onclick="editRow(this)" class="btn btn-primary btn-sm float-right">New Message</button>
    <div class="modal">
        <div class="modal-content">
            <div class="modal-title">
                Add New Message
                <span class="close" onclick="closeEdit(this)">&times;</span>
            </div>

            <form method="post" action="/Complaint/Upsert" class="form-group">

                <label class="col-sm-4" for="txtTitle">Title</label>
                <input class="col-sm-6" type="text" id="txtTitle" name="Title" />

                <label class="col-sm-4" for="ddlRecieverUserID">To</label>
                <select class="col-6" id="ddlReceiverUser" name="RecieverUserID" required>
                    <option value="" default="" disabled selected>Recipient</option>
                    @foreach (IdentityUser user in ViewBag.users)
                    {
                        <option value="@user.Id">@user.UserName</option>
                    }
                </select>

                <label class="col-sm-4" for="ddlType">Type</label>
                <select class="col-6" id="ddlComplaintType" name="ComplaintTypeID" required>

                    <option value="" default="" disabled selected>Complaint Type</option>
                    @foreach (ComplaintType type in ViewBag.types)
                    {
                        <option value="@type.TypeID">@type.Description</option>
                    }
                </select>

                <textarea type="text" id="txtComplaintMessage" name="message" placeholder="Type your complaint message here..." rows="10" cols="152" style=" height: 300px; background-color: none; border: 2px solid black;" required></textarea>
                <p style="padding-right:20px;"><button class="btn btn-success float-right" value="send">Send</button></p>
            </form>
        </div>
    </div>
</div>

@if (@Model.Count() > 0)
{
    @foreach (ComplaintDetails complaintDetails in Model)
    {

        <form method="post" action="/Complaint/addComplaintMessage" class="form-group">

            <input class="col-12" type="hidden" name="ComplaintID" value="@complaintDetails.ComplaintID" />
            <input class="col-12" type="hidden" name="OldComplaintStatusID" value="@complaintDetails.previousStatus" />

            <div class="complaint">
                <div class="row">
                    <div class="col-md-5 complaint-details">
                        <div class="row">
                            <div class=" col-md-12 font-weight-bold">@complaintDetails.Title</div>
                        </div>

                        <div class="row">
                            <div class="col-md-4 font-weight-bold">Type</div>
                            <div class="col-md-6">@complaintDetails.typeDesc</div>
                        </div>

                        <div class="row">
                            <div class="col-md-4 font-weight-bold">Status</div>


                            @if (@complaintDetails.ComplaintStatusID != 2)
                            {
                                <select class="col-6" name="ComplaintStatusID">
                                    @foreach (ComplaintStatus status in ViewBag.status)
                                    {
                                        if (status.StatusID == @complaintDetails.ComplaintStatusID)
                                        {
                                            <option value="@status.StatusID" selected>@status.Description</option>
                                        }
                                        else
                                        {
                                            <option value="@status.StatusID">@status.Description</option>
                                        }

                                    }
                                </select>
                            }

                            else
                            {
                                <div class="col-md-6">@complaintDetails.statusDesc</div>
                            }

                        </div>

                        <div class="row">
                            <div class="col-md-4 font-weight-bold">From</div>
                            <div class="col-md-6">@complaintDetails.ReporterUserName</div>
                        </div>

                        <div class="row">
                            <div class="col-md-4 font-weight-bold">To</div>
                            <div class="col-md-6">@complaintDetails.RecieverUserName</div>
                        </div>
                    </div>

                    <div class="col-md-7 complaint-messages">
                        @foreach (ComplaintUserMessageDetails complaintUserMessageDetails in @complaintDetails.messages)
                        {

                            <div class="message @(@complaintUserMessageDetails.UserID.Equals(ViewBag.UserId) ? "own-message" : "other-message")">
                                <div class="message-content @(@complaintUserMessageDetails.UserID.Equals(ViewBag.UserId) ? "own-message" : "other-message")">@complaintUserMessageDetails.Message  </div>
                                <div class="message-date">  @complaintUserMessageDetails.MessageDate </div>
                            </div>
                        }

                        @if (@complaintDetails.ComplaintStatusID != 2)
                        {
                            <textarea class="col-11 text-upsert-areas" name="Message"></textarea>
                            <div class="float-right">
                                <button type="submit" class="btn-sm btn-primary text-white" style="margin-top: 7.5px">
                                    <i class="fas fa-share"></i>
                                </button>
                            </div>
                        }

                    </div>


                </div>
            </div>

        </form>
    }
}
else
{
    <p>No Results</p>
}
