﻿@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService


<ul class="navbar-nav mr-auto">

    <li class="nav-item">
        <a class="nav-link text-light" asp-area="" asp-controller="AvailableListings" asp-action="Index">Home</a>
    </li>

    @if (!SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link text-light" asp-area="" asp-controller="About" asp-action="Index">About Us</a>
        </li>

        <li class="nav-item">
            <a class="nav-link text-light" asp-area="" asp-controller="Contact" asp-action="Index">Contact Us</a>
        </li>
    }

    @if (SignInManager.IsSignedIn(User))
    {
       
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle color_white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Propery Manager
                </a>
                <div class="dropdown-menu dark_background" aria-labelledby="navbarDropdown">
                    @if (User.IsInRole("admin") || User.IsInRole("owner"))
                    {
                        <a class="nav-link text-dark" asp-area="" asp-controller="Property" asp-action="Index">Property Manager</a>
                        <a class="nav-link text-dark" asp-area="" asp-controller="Listing" asp-action="Index">Listing Manager</a>

                    }
                    <a class="nav-link text-dark" asp-area="" asp-controller="Rental" asp-action="Index">Rental Manager</a>
                    <a class="nav-link text-dark" asp-area="" asp-controller="Inspection" asp-action="Index">Inspection Manager</a>
                    <a class="nav-link text-dark" asp-area="" asp-controller="Property" asp-action="Rules">Rules and Regulations</a>
                    <a class="nav-link text-dark" asp-area="" asp-controller="Property" asp-action="Contacts">Contact Details</a>
                </div>
            </li>
       
    }

    @if (SignInManager.IsSignedIn(User))
    {

        @if (User.IsInRole("admin") || User.IsInRole("owner") || User.IsInRole("tenant"))
        {
            <li class="nav-item">
                <a class="nav-link text-light" asp-area="" asp-controller="Complaint" asp-action="Index">Chat</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" asp-controller="Notification" asp-action="Index">Notifications</a>
            </li>
        }


        @if (User.IsInRole("admin") || User.IsInRole("owner"))
        {
            <li class="nav-item">
                <a class="nav-link text-light" asp-area="" asp-controller="User" asp-action="Index">User Manager</a>
            </li>
        }

    }
</ul>