﻿@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@model NotificationDetails


<form method="post" action="/Notification/Insert" class="form-group">
    <div class="form-row form-group">
        <label class="col-4" for="ddlTypeID">Type</label>
        <select class="col-6" id="ddlTypeID" asp-for="TypeID" required>
            @foreach (NotificationType type in ViewBag.notificationType)
            {
                <option value="@type.TypeID">@type.DescriptionType</option>
            }
        </select>
    </div>

    <div class="form-row form-group">
        <label class="col-4" for="ddlTo">To</label>
        <select class="col-6" id="ddlTo" name="messageUserID" required>
            @foreach (MessageUser user in ViewBag.messageUsers)
            {
                <option value="@user.UserID">@user.UserName</option>
            }
        </select>
    </div>

    <div class="form-row form-group">
        <label class="col-4" for="txtMessage">Message</label>
        <textarea class="col-8 text-upsert-areas" id="txtMessage" name="Message" asp-for="Message"></textarea>
    </div>


    <div class="form-row form-group float-right">
        <button type="button" class="btn btn-secondary text-white" onclick="closeEdit(this)" data-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn-success text-white" style="margin-left:5px;">Save</button>
    </div>

</form>