﻿@{
    ViewData["Title"] = "Notification";
}
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@model IEnumerable<NotificationDetails>


<div class="row">
    <h4 class="col-12">Notifications</h4>
</div>

<form method="post" action="/Notification/Index" class="form-group" enctype="multipart/form-data">
    <div class="row">
        <div class="col-3">
            <label>From</label>
            <select class="form-control" name="fromFilter">
                <option value="default">Any</option>
                @foreach (IdentityUser user in ViewBag.users)
                {
                    if (@user.Id == ViewBag.fromFilter)
                    {
                        <option value="@user.Id" selected>@user.UserName</option>
                    }
                    else
                    {
                        <option value="@user.Id">@user.UserName</option>
                    }
                }
            </select>

        </div>

        <div class="col-3">
            <label>Type</label>
            <select class="form-control" name="typeFilter">
                <option value="-1">Any</option>
                @foreach (NotificationType type in ViewBag.NotificationType)
                {
                    if (@type.TypeID == ViewBag.typeFilter)
                    {
                        <option value="@type.TypeID" selected>@type.DescriptionType</option>
                    }
                    else
                    {
                        <option value="@type.TypeID">@type.DescriptionType</option>
                    }
                }
            </select>
        </div>
        <div class="col-3">
            <label>Message</label>
            @if (ViewBag.searchFilter == null)
            {
                <input type="text" class="form-control" name="searchFilter" placeholder="Search.."/>
            }
            else
            {
                <input type="text" class="form-control" name="searchFilter" placeholder="Search.." value="@ViewBag.searchFilter" />
            }
        </div>
        <div class="col-2">
            <button type="submit" class="btn btn-success text-white filter-button" style="margin-left:5px;"><i class="fas fa-search"></i> Search</button>
        </div>
    </div>
</form>
<hr />
@if (User.IsInRole("admin"))
{
    <div style="padding-bottom:30px">
        <button onclick="editRow(this)" class="btn btn-primary btn-sm float-right">Add Notification</button>
        <div class="modal">
            <div class="modal-content">
                <div class="modal-title">
                    Add Complaint
                    <span class="close" onclick="closeEdit(this)">&times;</span>
                </div>

                <partial name="_InsertNotification" model="new NotificationDetails()" />

            </div>
        </div>
    </div>
}


@if (@Model.Count() > 0)
{

    @foreach (NotificationDetails notificationDetails in Model)
    {
        <div class="notification">

            <div class="row">
                <div class="col-2">

                    @{ var imageName = notificationDetails.TypeID + ".PNG"; }

                    <img src="~/images/notifications/@imageName" height="150" width="180" />

                </div>
                <div class="col-7" style="overflow:auto;">
                    <div class="messsage">@notificationDetails.Message</div>
                </div>

                <div class="col-2">
                    <div class="info">@notificationDetails.DateSent</div>
                    <div class="info">@notificationDetails.UserName</div>
                </div>

            </div>

        </div>

    }
}
else
{
    <p>No Results</p>
}
