﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */



/*25274D
464866
AAABBB
2E9CCA
29648A*/

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.navbar {
    background-color: #343a40 !important;
    color: white !important;
    opacity: 1 !important;
}

.dark_background {
    background-color: #b6babd !important;
    color: black;
}

.color_white {
    color: white !important;
}

.bold {
    font-weight: bold;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
}

.navbar1 {
    margin-bottom: 0;
}

/* Modals
-------------------------------------------------- */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.modal-title {
    padding: 15px;
    margin: -20px -20px 20px -20px;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.5;
    color: #fff;
    background-color: #343a40;
    text-align: left;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    text-align: right;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* messages
-------------------------------------------------- */

.complaint {
    border: solid 1px #AAABBB;
    margin-top: 15px;
    height: 195px;
    background-color: #efecec;
}

.complaint-details {
    margin: 15px;
}


.complaint-messages {
    margin: 0px -46px;
    height: 193px;
    overflow-y: scroll;
    overflow: auto;
}

.message-content {
    border: solid 1px;
    padding: 10px;
    border-radius: 10px;
}

.message-date {
    float: right;
    font-size: small;
}

.message {
    padding-top: 30px;
    width: 85%;
    float: left;
}

.message-response {
    clear: both;
    padding-top: 30px;
}

.own-message.message {
    float: right;
}

.other-message.message-content {
    background-color: #a1ccdf;
}

.own-message.message-content {
    background-color: #b0c0cc;
}

.message-textarea {
    width: calc(100% - 50px);
    border-radius: 10px;
}

textarea#Message {
    border-radius: 10px;
}

.property_images {
    clear: both;
    height: fit-content;
    width: 100%;
}

.image {
    float: left;
    width: 50%;
    padding-bottom: 5px;
    margin-top: -30px;
}

.listing-icons-text {
    float: left;
    margin-top: 10px;
    margin-left: 10px;
    font-weight: 700;
    color: black;
}

.listing-icons-icon {
    font-size: 25px;
}

.notification {
    border: solid 1px #AAABBB;
    margin-top: 15px;
    height: 150px;
    background-color: #efecec;
}

.notification .messsage {
    margin: 15px;
}


.notification .info {
    margin: 15px;
    font-weight: bold;
}

.filter-button {
    width: 100%;
    margin-top: 30px;
}


.contact-info {
    position: absolute;
    right: 0;
    top: 63px;
    height: calc(100vh - 87px);
    background-color: #dddddd;
    padding: 30px;
    width: 400px;
}