﻿@model RMS22_Final_Project.Models.User
@Html.ValidationSummary(false, "", new { @class = "text-danger" })


<div class="container">
    <div class="modal fade" id="upsertUser" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">User Details</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <form id="upsertUserForm" method="post" action="/Users/Upsert">
                        <input class="col-6" type="hidden" id="txtUserID" name="UserID" asp-for="UserID" />

                        @if (Model.UserID != 0)
                        {
                            <input class="col-6" type="hidden" id="txtUserID" name="UserName" asp-for="UserName" />
                        }
                        else
                        {
                            <label class="col-4" for="txtUserName">User Name</label>
                            <input class="col-6" type="text" id="txtUserName" name="UserName" asp-for="UserName" />
                        }

                        <label class="col-4" for="txtFirstName">First Name</label>
                        <input class="col-6" type="text" id="txtFirstName" name="FirstName" asp-for="FirstName" />

                        <label class="col-4" for="txtLastName">Last Name</label>
                        <input class="col-6" type="text" id="txtLastName" name="LastName" asp-for="LastName" />

                        <label class="col-4" for="txtCellNo">Cell No</label>
                        <input class="col-6" type="text" id="txtCellNo" asp-for="CellNo" />

                        <label class="col-4" for="txtEmail">Email</label>
                        <input class="col-6" type="text" id="txtEmail" asp-for="Email" />

                        <label class="col-4" for="ddlUserRole">User Role</label>
                        <select class="col-6" id="ddlUserRole" asp-for="UserRoleID" required>
                            @foreach (UserRoles role in ViewBag.userRoles)
                            {
                                <option value="@role.RoleID">@role.description</option>
                            }
                        </select>

                        <div class="float-right">
                            <button type="button" class="btn btn-secondary text-white" data-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-success text-white">Save</button>
                        </div>

                    </form>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="container">
    <div class="modal fade" id="deleteUser" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Delete User</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <form method="post" action="/Users/Delete">
                        <p>Are you sure you want to delete this user?</p>
                        <input class="col-6" type="hidden" id="txtDeleteUserID" name="UserID" asp-for="UserID" />

                        <div class="float-right">
                            <button type="button" class="btn btn-secondary text-white" data-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-danger text-white">Delete</button>
                        </div>

                    </form>
                </div>
            </div>

        </div>
    </div>
</div>


<div class="container row p-0 a-0">
    <div class="col-12">
        <h1 class="float-left">User Manager</h1>
        <button type="button" class="btn btn-info table-header-buttons" onclick="Upsert()">Add User</button>
    </div>
    <div class="col-12 border p-3">
        <table id="DT_load" class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>User Name</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Cell No</th>
                    <th>Email</th>
                    <th>User Role</th>
                    <th></th>
                </tr>
            </thead>
        </table>
    </div>

</div>

@section Scripts {
    <script src="~/js/UserList.js"></script>
}

